<h2 id="register">Register Players</h2>

<div id="message">{{message}}</div>

<form (ngSubmit)="registerContestants()">
  <div *ngFor="let player of players; index as i; trackBy:trackByFn">
    <input [id]="'contestant'+i"
           type="text"
           [placeholder]="'Contestant ' +i"
           [name]="'Contestant '+i"
           [(ngModel)]="players[i]">
  </div>
  
  <button type="submit" id="submit">Register Contestants</button> 
</form>

<button type='button'
    (click)="autofillTwoPlayers()" id="fill2">Autofill 2 Players</button>
    
<button type='button'
    (click)="autofillFourPlayers()" id="fill4">Autofill 4 Players</button>
    
    
<button type='button'
    (click)="autofillEightPlayers()" id="fill8">Autofill 8 Players</button>
